<div id='body_container' ng-controller='mainController'>
	<nav>
		<div>
			<button class='nav_options'>Welcome</button>
			<button class='nav_options'>Skills</button>
			<button class='nav_options'>Interview</button>
			<button class='nav_options'>Components</button>
			<button class='nav_options'>Influences</button>
			<button class='nav_options'>Contact</button>
		</div>
	</nav>
	<aside>
		<section id='landing'>
				<h1>Brandon Scott</h1>
				<h3>...Loves to learn new things and create awesome user experiences!</h3>
		</section>
		<!-- The Modal -->
		<div id="myModalLAMP" class="modal">
		  <div class="modal-content">
		    <span class="closeLAMP">x</span>
		    <p>Some text in the Modal..</p>
		  </div>
		</div>
		<div id="myModalMEAN" class="modal">
			<div class="modal-content">
				<span class="closeMEAN">x</span>
				<p>Some text in the Modal..</p>
			</div>
		</div>
		<div id="myModalUX" class="modal">
			<div class="modal-content">
				<span class="closeUX">x</span>
				<p>Some text in the Modal..</p>
			</div>
		</div>
		<div id="myModalOOP" class="modal">
			<div class="modal-content">
				<span class="closeOOP">x</span>
				<p>Some text in the Modal..</p>
			</div>
		</div>
		<div id="myModalCMS" class="modal">
			<div class="modal-content">
				<span class="closeCMS">x</span>
				<p>Some text in the Modal..</p>
			</div>
		</div>
		<section id='skills'>
				<h1>SKILLS</h1>
				<h2>Click on the skills to learn more about my experience with them!</h2>
				<div id='LAMP' class='row'>
					<div id='lamp_name' class='col-xs-2'>
						<div id='myBtnLAMP' class='circle'>
							LAMP
						</div>
					</div>
					<div id='lamp_bar' class='col-xs-10'>
						<div class='bar'>
						</div>
					</div>
				</div>
				<div id='MEAN' class='row'>
					<div id='mean_name' class='col-xs-2'>
						<div id='myBtnMEAN' class='circle'>
							MEAN
						</div>
					</div>
					<div id='mean_bar' class='col-xs-10'>
						<div class='bar'>
						</div>
					</div>
				</div>
				<div id='UX' class='row'>
					<div id='ux_name' class='col-xs-2'>
						<div id='myBtnUX' class='circle'>
							UX/UI
						</div>
					</div>
					<div id='ux_bar' class='col-xs-10'>
						<div class='bar'>
						</div>
					</div>
					<div id='OOP' class='row'>
						<div id='oop_name' class='col-xs-2'>
							<div id='myBtnOOP' class='circle'>
								OOP
							</div>
						</div>
						<div id='oop_bar' class='col-xs-10'>
							<div class='bar'>
							</div>
						</div>
						<div id='CMS' class='row'>
							<div id='cms_name' class='col-xs-2'>
								<div id='myBtnCMS' class='circle'>
									CMS
								</div>
							</div>
							<div id='cms_bar' class='col-xs-10'>
								<div class='bar'>
								</div>
							</div>
				</div>
		</section>
		<section id='interview'>
			<h2>Have questions? I've got answers!</h2>
			<div class='row'>
				<div id='interview_visuals' class='col-xs-8'>
					<div id='interview_question'>
						<div>
							I'd like to go through a quick interview with you.
						</div>
					</div>
					<div id='interview_answer'>
						<div>
						   Feel free to ask me a question.
						</div>
					</div>
				</div>
				<div id='interview_questions' class='col-xs-4'>
					<h3>Select a question and click the ask button to get an answer</h3>
					<select>
						<option>Tell me a little bit about yourself</option>
						<option>What would you say your strengths are?</option>
						<option>What are your weaknesses?</option>
						<option>In your free time, what do you find yourself doing?</option>
						<option>Do you work well in a team?</option>
						<option>Where do you see yourself in 5 years?</option>
						<option>Coke or Pepsi?</option>
						<option>What sets your apart from your competition?</option>
					</select>
					<button>Ask me!</button>
				</div>
			</div>
		</section>
		<section id='components'>
		</section>
		<section id='influences'>
		</section>
		<section id='contact'>
		</section>
		<div id='modal_form'>
		</div>
	</aside>
</div>
